<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">
  	<!--以后要导入dao server action的包全在一个里面会很麻烦，通过import导入相关的包-->	
	<import resource="config/spring/dao.xml"/>
</beans>		