<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ironxi.entity.UserMapper">
<!-- 结果映射不能返回成一个类型时用resultTypt -->
	<select id="getUserByCondition" parameterType="Map" resultType="User">
		select * from use
		<where>
		<!-- 利用sql语句的传参函数模糊匹配 -->
			<if test="name!=null">name like CONCAT('%',#{name},'%')</if>
		</where>
	</select>
</mapper> 
